<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New wiki to "<%= @wiki.title %>"</h1>
    <small>
      By: <%= @wiki.body %>
    </small>
    <p>
      <%= @wiki.body %>
    </p>
    <p>
      If you receive this it's because my Mailer in Blocipedia (Assignment 2) works!
  </p>
  </body>
</html>
